.remove-media-btn .add_media {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    font-weight: normal;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.user-language-wrap{
    display: none;
}

.acf-label span {
    font-size: 11px;
    font-style: italic;
    margin-left: 10px;
}